/* Загальні стилі */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Стилі для заголовка */
header {
    background-color: #840303;
    color: #fff;
    padding: 20px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 38px;
    font-weight: bold;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin-right: 28px;
}

nav a {
    color: #fff;
    text-decoration: none;
}

.search-bar input {
    padding: 8px;

}

.search-bar button {
    padding: 8px 16px;
    background-color: #555;
    color: #fff;
    border: none;
    cursor: pointer;
}

.user-actions a {
    color: #fff;
    text-decoration: none;
    margin-left: 20px;
}

.user-actions .cart-link {
    position: relative;
}

.user-actions .cart-link i {
    margin-right: 5px;
}

/* Стилі для головного контенту */
main {
    padding: 40px;
}

.hero {
    background-color: #f2f2f2;
    padding: 80px;
    text-align: center;
}

.hero h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 18px;
    margin-bottom: 40px;
}

.btn {
    display: inline-block;
    padding: 12px 24px;
    background-color: #840303;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
}

.featured-books {
    margin-top: 60px;
}

.featured-books h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.book-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px;
}

.book {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
}

.book img {
    max-width: 100%;
    height: auto;
}

/* Стилі для футера */
footer {
    background-color: #840303;
    color: #fff;
    padding: 20px;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}