/* Загальні стилі */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Стилі для заголовка */
header {
    background-color: #840303;
    color: #fff;
    padding: 20px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 38px;
    font-weight: bold;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin-right: 28px;
}

nav a {
    color: #fff;
    text-decoration: none;
}

.search-bar input {
    padding: 8px;
}

.search-bar button {
    padding: 8px 16px;
    background-color: #555;
    color: #fff;
    border: none;
    cursor: pointer;
}

.user-actions a {
    color: #fff;
    text-decoration: none;
    margin-left: 20px;
}

.user-actions .cart-link {
    position: relative;
}

.user-actions .cart-link i {
    margin-right: 5px;
}

/* Стилі для головного контенту */
main {
    padding: 40px;
}

.hero {
    background-color: #f2f2f2;
    padding: 80px;
    text-align: center;
}

.hero h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 18px;
    margin-bottom: 40px;
}

.btn {
    display: inline-block;
    padding: 12px 24px;
    background-color: #840303;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
}

.featured-books {
    margin-top: 60px;
}

.featured-books h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.book-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px;
}

.book {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
}

.book img {
    max-width: 100%;
    height: auto;
}

/* Стилі для футера */
footer {
    background-color: #840303;
    color: #fff;
    padding: 20px;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

/* Стилі для списку книг */
.book-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

#searchResults {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #f9f9f9;
  width: 90%; /* або встановіть ширину за потребою */
  max-width: 400px; /* максимальна ширина вікна */
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  z-index: 1;
  max-height: 300px;
  overflow-y: auto;
}

#searchResults .book-item {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

#searchResults .book-item img {
  width: 50px;
  height: auto;
  margin-right: 10px;
}

#searchResults .book-item .book-details {
  flex-grow: 1;
}

#searchResults .book-item .book-details h3 {
  margin: 0;
  font-size: 16px;
}

#searchResults .book-item .book-details p {
  margin: 5px 0;
  font-size: 14px;
}

#searchResults .book-item .book-details a {
  color: #333;
  text-decoration: none;
}

#searchResults .book-item .book-details a:hover {
  text-decoration: underline;
}

.book-item {
  background-color: #f2f2f2;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.book-item img {
  max-width: 150px;
  height: auto;
}

.book-item h3 {color: black;
  margin-top: 10px;
}

.book-item .price {
  font-weight: bold;
  margin-bottom: 10px;
}

.book-item .add-to-cart {
  background-color: #840303;
  color: #fff;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
}
a {
  text-decoration: none; /* Видалення підкреслення */
}

/* Змінюємо стилі для відображення вікна категорій при наведенні */
.category-dropdown .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  z-index: 1;
}

.category-dropdown:hover .dropdown-content {
  display: block;
}

.category-dropdown .dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.category-dropdown .dropdown-content a:hover {
  background-color: #f1f1f1;
}

.book-details {
  display: flex;
  margin: 40px;
}

.book-cover img {
  max-width: 300px;
  height: auto;
}

.book-cover img.small-cover {
  max-width: 200px;
}

.book-info {
  margin-left: 40px;
}

.book-info h1 {
  font-size: 32px;
  margin-bottom: 10px;
}

.book-info .author {
  font-style: italic;
  margin-bottom: 20px;
}

.book-info .price {
  font-weight: bold;
  margin-bottom: 20px;
}

.book-info .add-to-cart {
  background-color: #840303;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  margin-bottom: 20px;
}

.book-info .description {
  margin-top: 40px;
}

/* Стилі для додаткових елементів */
.book-info section {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.book-info section:before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #840303;
  border-radius: 50%;
  margin-right: 8px;
}

.book-info section p {
  font-size: 14px;
  color: #333;
  margin: 0;
}
.spacing {
  height: 80px; /* Висота білого простору */
}